# Ignorar los siguientes archivos

# Clase 01
/Clase 01/Clase 01 - M3.pdf
/Clase 01/homework_clase_01_resuelto.sql
/Clase 01/README.json
/Clase 01/README_orig.md
/Clase 01/imgs/
/_src/

# Clase 02
/Clase 02/Clase 02 - M3.pdf
/Clase 02/README.json
/Clase 02/README_orig.md
/Clase 02/homework_clase_02_resuelto.sql

# Clase 03
/Clase 03/homework_clase_03_resuelto.sql
/Clase 03/README.json
/Clase 03/README_orig.md
/Clase 03/Clase 03 - M3.pdf

# Clase 04
/Clase 04/homework_clase_04_resuelto.sql
/Clase 04/README.json
/Clase 04/README_orig.md
/Clase 04/Clase 04 - M3.pdf
/Clase 04/assets/

# Clase 05
/Clase 05/homework_clase_05_resuelto.sql
/Clase 05/README.json
/Clase 05/README_orig.md
/Clase 05/clase_05.pdf
/Clase 05/assets/

# Clase 06
/Clase 06/clase_06.pdf
/Clase 06/README_orig.md
/Clase 06/Procedimiento vs Función.jpeg
/Clase 06/homework_clase_06_resuelto.sql

# CLase 07
/Clase 07/clase_07.pdf
/Clase 07/README_orig.md
/Clase 07/homework_clase_07_resuelto.sql
