# Ignorar los siguientes archivos
/Clase 01/Clase 01 - M3.pdf
/Clase 01/homework_clase_01_resuelto.sql
/Clase 01/README.json
/Clase 01/imgs/
/_src/
/Clase 02/Clase 02 - M3.pdf
/Clase 02/README.json
/Clase 02/README_orig.md
/Clase 02/homework_clase_02_resuelto.sql